<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if !current_user %>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>

<% else %>
    <%= current_user.email %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>